:root {
  --virtual-table-row-selected-bg: #e6f4ff;
  --virtual-table-row-selected-hover-bg: #bae0ff;
}

.virtual-table-selection {
  position: relative;
  display: inline-flex;
}

.virtual-table-row-selected {
  .virtual-table-cell,
  .virtual-table-cell.virtual-table-sticky-cell {
    background-color: var(--virtual-table-row-selected-bg);
  }

  &:not(.no-hover):hover > .virtual-table-cell {
    background-color: var(--virtual-table-row-selected-hover-bg);
  }
}

.virtual-table-selection-column {
  z-index: 3;
}
