:root {
  --virtual-table-header-bg: #fafafa;
  --virtual-table-border-color: #f0f0f0;
  --virtual-table-row-hover-bg: #fafafa;
  --virtual-table-font-size: 14px;
  --virtual-table-color-split: rgba(5, 5, 5, 0.06);
}

[class^='virtual-table'] {
  box-sizing: border-box;
}

.virtual-table {
  width: 100%;
  text-align: left;
  font-size: var(--virtual-table-font-size);

  &-header-wrapper {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    min-width: 100%;
  }

  &-sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &-header {
  }

  &-header-cell {
    position: relative;
    text-align: start;
    background-color: var(--virtual-table-header-bg);
    border-bottom: 1px solid var(--virtual-table-border-color);
    font-weight: 600;
    font-size: 14px;

    &:not(.virtual-table-selection-column)
      + &:not(.virtual-table-selection-column):not(:last-child) {
      &::before {
        position: absolute;
        top: 50%;
        inset-inline-end: 0;
        width: 1px;
        height: 1.2em;
        background-color: #c2c2c2;
        transform: translateY(-50%);
        transition: background-color 0.2s;
        content: '';
      }
    }
  }

  &-body {
    table-layout: fixed;
    width: 100%;
    min-width: 100%;
    border-spacing: 0;
  }

  &-row {
    &:not(.no-hover):hover > .virtual-table-cell {
      background-color: var(--virtual-table-row-hover-bg);
    }
  }

  &-cell {
    transition:
      background 0.2s,
      border-color 0.2s;
    border-bottom: 1px solid var(--virtual-table-border-color);
  }

  &-sticky-cell {
    position: sticky !important;
    z-index: 2;

    &.virtual-table-cell {
      background-color: #fff;
    }
  }

  &-cell-fix-left-last {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      bottom: -1px;
      width: 20px;
      transform: translate(100%);
      transition: box-shadow 0.3s;
      pointer-events: none;
    }
  }

  &-cell-fix-right-last {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: -1px;
      left: -1px;
      width: 20px;
      transform: translate(-100%);
      transition: box-shadow 0.3s;
      pointer-events: none;
    }
  }

  &-has-fix-left {
    .virtual-table-cell-fix-left-last::after {
      box-shadow: inset 10px 0 8px -8px var(--virtual-table-color-split);
    }

    .virtual-table-cell-fix-left-last::before {
      background-color: transparent !important;
    }
  }

  &-has-fix-right {
    .virtual-table-cell-fix-right-last::after {
      box-shadow: inset -10px 0 8px -8px var(--virtual-table-color-split);
    }

    .virtual-table-cell-fix-right-last::before {
      background-color: transparent;
    }
  }

  &-align-right {
    text-align: end;
  }
  &-align-center {
    text-align: center;
  }

  &-small {
    .virtual-table-header-cell,
    .virtual-table-cell {
      padding: 8px;
    }
  }
  &-middle {
    .virtual-table-header-cell,
    .virtual-table-cell {
      padding: 12px 8px;
    }
  }
  &-large {
    .virtual-table-header-cell,
    .virtual-table-cell {
      padding: 8px;
    }
  }
}
