:root {
  --virtual-table-summary-bg: #fff;
}

.virtual-table-summary-wrapper {
  overflow: auto hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.virtual-table-summary-top-border {
  box-shadow: #f0f0f0 0px -1px 0px 0px;
}

.virtual-table-summary {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  min-width: 100%;
  box-shadow: 0 -1px 0 var(--virtual-table-border-color);

  &-sticky-bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 3;
  }

  &-tfoot {
    background-color: #fff;
  }

  &-cell {
    background-color: var(--virtual-table-summary-bg, #fff);
    border-bottom: 1px solid var(--virtual-table-border-color);
  }
}

.virtual-table-has-fix-left {
  .virtual-table-summary-cell {
    background-color: var(--virtual-table-summary-bg, #fff);
  }
}
