.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 12px;
  width: 220px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border-right: 1px solid hsl(240, 6%, 90%);
  background-color: hsl(240, 5%, 96%);
  box-sizing: border-box;
}

.sidebar a {
  flex: none;
  display: flex;
  align-items: center;
  height: 36px;
  line-height: 20px;
  padding: 0 12px;
  font-size: 14px;
  text-decoration: none;
  color: hsl(240, 10%, 4%);
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar .active {
  background-color: #fff;
  border-color: hsl(240, 6%, 90%);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}


.w-full {
  width: 100%;
}